<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.BoardMapper">
	
	<!-- 전체 주제 목록  -->
	<select id="topicAll" resultType="org.zerock.command.TopicVO">
		select * from topics
	</select>
	
	<!-- 주제에 대한 글 전체 목록 -->
	<select id="boardAll" resultType = "org.zerock.command.BoardVO">
		select * from board where topic=#{topic} and secret='0'
	</select>
	
	<!-- 글 등록 -->
	<update id="register">
		insert into board (name, topic, content, secret) values (#{name}, #{topic}, #{content}, #{secret} )
	</update>
	
	<!-- 홈 화면에 뜰 주제 선정 -->
	<select id="selectTopic" resultType="org.zerock.command.TopicVO">
		select * from topics where tno = #{tno}
	</select>
	
	<!-- 마이페이지에 뜰 글 목록 -->
	<select id="mylist" resultType = "org.zerock.command.BoardVO">
		select * from board where name=#{name} order by bno desc
	</select>
	
	<!-- 마이페이지 글 클릭 시 상세 페이지로 이동 -->
	<select id="mycontent" resultType = "org.zerock.command.BoardVO">
		select * from board where bno=#{bno}
	</select>
	
	<!-- 게시글 삭제 -->
	<delete id="delete">
		delete from board where bno=#{bno}
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="updateform" parameterType="org.zerock.command.BoardVO">
		update board set content=#{content}, secret=#{secret} where bno=#{bno}
	</update>
	
	<!-- 내 게시물 수 -->
	<select id="mycount" resultType="int">
		select count(*) from board where name=#{name}
	</select>
	
	<!-- 좋아요 올리기 -->
	<insert id="likeup">
		insert into likes (bno , name, likecount)
		values(#{param1},#{param2},1)
	</insert>
	
	<!-- 좋아요 내리기 -->
	  <delete id="likedown">
	  	delete from likes where bno = #{param1} and name = #{param2} 
	  </delete>
	
	<!-- 게시물별 좋아요 수 가져오기 -->
	<select id="liketotal" resultType="Integer">
		select sum(LIKECOUNT) from likes where bno=#{bno}
	</select>
	
	<!-- 내 좋아요 수 총계 출력 -->
	<select id="mylike" resultType="Integer">
		select sum(LIKECOUNT) from likes where name=#{name}
	</select>
	
	<!-- 좋아요 여부 -->
	<select id="findLike" resultType="Integer">
		select count(*) from likes where bno = #{param1} and name = #{param2}
	</select>
</mapper>