<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

 <mapper namespace="org.zerock.mapper.MemberMapper">
 
 	<insert  id="join" parameterType="org.zerock.command.MemberVO">
		insert into members (email, pw, name) values (#{email}, #{pw}, #{name})	
 	</insert>
 	
 	<select id="login" parameterType="org.zerock.command.MemberVO" resultType="org.zerock.command.MemberVO">
 		select * from members
		where email = #{email} and pw = #{pw}
 	</select>
 
    <select id="emailCheck" resultType="org.zerock.command.MemberVO">
    	select * from members where email = #{email} 
    </select>	
    
    <update id="pwUpdate" parameterType="org.zerock.command.MemberVO">
    	update members set pw = #{pw} where email = #{email}
    </update>
	
	<delete id="deleteMember" parameterType="org.zerock.command.MemberVO">
		delete from members where email = #{email} 
	</delete>
 </mapper> 